body{
    display:flex;
    flex-direction:column;
    justify-content:center;  
}
#container{
    display: flex;
    justify-content: center;
}
.space{
    margin:2px;
}
h1{
    text-align: center;
}
.grid{
    display: inline-block;
    
  
}
#gridinputs{
    margin-bottom: 20px;
    display: flex;  
    justify-content: center;
}
.row{
    display: flex;
}
.cell{
    background-color: beige;
    margin: 2px;
    width: 200px;
    height: 200px;
    border:1px solid green;
}